{% extends 'base.html.twig' %}

{% block layout %}
    <h1>Clients list</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Espèce</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.couleur }}</td>
                    <td>{{ client.espece }}</td>
                    <td>{% if client.createdAt %}{{ client.createdAt|date('d/m/Y') }}{% endif %}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a role="button" class="btn btn-default" href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                            <a role="button" class="btn btn-default" href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-success" href="{{ path('client_new') }}" role="button">Créer nouveau client</a>
{% endblock %}
