<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('client_index') }}"><img src="{{ asset('234566.png') }}" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown {{ 'client' in app.request.attributes.get('_route') ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Client <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('client_index') }}">Index</a></li>
                        <li><a href="{{ path('client_new') }}">New</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ 'docteur' in app.request.attributes.get('_route') ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Docteur <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('docteur_index') }}">Index</a></li>
                        <li><a href="{{ path('docteur_new') }}">New</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ 'espece' in app.request.attributes.get('_route') ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Espece <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('espece_index') }}">Index</a></li>
                        <li><a href="{{ path('espece_new') }}">New</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ 'maladie' in app.request.attributes.get('_route') ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Maladie <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('maladie_index') }}">Index</a></li>
                        <li><a href="{{ path('maladie_new') }}">New</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ 'rendezvous' in app.request.attributes.get('_route') ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Rendez-vous <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('rendezvous_index') }}">Index</a></li>
                        <li><a href="{{ path('rendezvous_new') }}">New</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>