{% extends 'base.html.twig' %}

{% block layout %}
    <h1>Traitements list</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Maladie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for traitement in traitements %}
            <tr>
                <td><a href="{{ path('traitement_show', { 'id': traitement.id }) }}">{{ traitement.id }}</a></td>
                <td>{{ traitement.nom }}</td>
                <td>{{ traitement.maladie.nom }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a role="button" class="btn btn-default" href="{{ path('traitement_show', { 'id': traitement.id }) }}">show</a>
                        <a role="button" class="btn btn-default" href="{{ path('traitement_edit', { 'id': traitement.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a class="btn btn-success" href="{{ path('traitement_new') }}" role="button">Créer nouveau traitement</a>
{% endblock %}
