{% extends 'base.html.twig' %}

{% block layout %}
    <h1>Traitement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ traitement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ traitement.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('traitement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('traitement_edit', { 'id': traitement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
